html, body {
    height: 100%;
    width: 100%;
    padding: 0!important;
    margin: 0!important;
    min-height: 100%;
    box-sizing: border-box;
}
.wrapper {
    position:relative;
    color: #353535;
    background: #f2efe8;
    font-size: 12px;
    min-height: 100%;
    font-family: "Open Sans", Arial, sans-serif;
    padding-bottom: 224px;
}

/* Custom styles*/
h1{
    font-size: 50px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 18px;
}
a {
    color: #888;
    text-decoration: none;
}
a:hover, a:focus{
    color: #b23aee;
    text-decoration: none;
    outline: none;
}
input[disabled] {
    opacity: 0.5;
}
.btn.btn-default{
    background: #e7e7e7;
    color: #000;
}
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default.focus{
    color: #000;
    background: #e1e1e1;
}
.btn.btn-primary{
    background: #b23aee;
    color: #fff;
    border: none;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary.focus{
    color: #fff;
    border: none;
    background: #6a228e;
}
.logo-first-letter{
    color: #b23aee;
}

/* Header */
.header-top-wide{
    background: #1d272a;
}
.phone{
    padding: 12px 0;
}
.phone p {
    display: inline-block;
    color: #f0f0f0;
    font-weight: bold;
    font-size: 24px;
}
.phone p .glyphicon{
    color: #b23aee;
    font-size: 21px;
    top: 3px;
}
.phone p .glyphicon:before{
    margin-right: 5px;
}
.phone .workTime {
    display: inline-block;
    color: #888;
    font-size: 14px;
    padding-top: 6px;
    vertical-align: top;
    margin-left: 25px;
}
.authorization {
    padding: 17px 0 16px;
    color: #fff;
    font-size: 14px;
}
.authorization > div {
    position: relative;
}
.authorization a{
    color: #fff;
    vertical-align: middle;
}
.authorization a:hover {
    color: #b23aee;
}
.authorization .user {
    font-size: 14px;
    cursor: default;
    vertical-align: middle;
}
.authorization .options-toggler {
    display: inline-block;
    vertical-align: middle;
}
.authorization .options-toggler:hover {
    color: #b23aee;
    cursor: pointer;
}
.authorization .options-toggler:hover .user{
    cursor: pointer;
}
.authorization .dropdown-menu {
    right: 0;
    left: auto;
    float: right;
}


.header-logo {
    padding: 40px 0 10px 18px;
}
.header-logo h1{
    letter-spacing:0.2em;
    font-weight: bold;
}
.header-logo a .logo-first-part,
.header-logo a:hover .logo-first-part{
    color: #b23aee;
}
.header-logo a .logo-last-part,
.header-logo a:hover .logo-last-part{
    font-weight: bold;
    color: #353535;
}
#cart-block{
    margin: 30px 0 10px;
    position: relative;
}
#cart-block .dropdown-toggle{
    background: #e7e7e7;
    border: 1px solid #8d9496;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
    padding: 10px 10px;
    font-size: 14px;
    color: #888;
}
#cart-block .dropdown-toggle:hover,
#cart-block .dropdown-toggle:focus{
    color: #888;
    background: #e1e1e1;
}
#cart-block .cart_empty{
    padding: 10px 16px;
}
#cart-block .cart_empty,
#cart-block .cart_count{
    color: #b23aee;
}
#cart-block .cart_items{
    max-height: 434px;
    padding: 0 16px;
    overflow: auto;
}
#cart-block .cart_items .row{
    margin: 0;
    padding:10px 0;
}
#cart-block .cart_items .row + .row {
    border-top: 1px solid #ccc;
}
#cart-block .cart_items .row img{
    height: 64px;
    width: 100%;
}
#cart-block .cart_items .row .cart-name{
    display: block;
    color: #b23aee;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0;
}
#cart-block .cart_items .row .glyphicon-remove{
    margin-top: 50%;
    position: absolute;
    cursor: pointer;
}
#cart-block .cartLink{
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 10px 10px 7px;
}
#cart-block .cartLink a{
    color: #b23aee;
}
#cart-block .dropdown-menu{
    width: 100%;
}
#search-block {
    margin: 20px 0 10px;
    background: #e7e7e7;
    border: 1px solid #8d9496;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#search-block .search-query {
    padding: 0 10px 0 10px;
    background: #e7e7e7;
    border: none;
}
#search-block button {
    border: none;
    background: none;
    padding: 8px 5px 6px;
    position: relative;
    left: 0;
    color: #888;
    width: 35px;
}
.angucomplete-holder {
    position: relative;
}
.angucomplete-dropdown {
    border-top: none;
    border-bottom: 1px solid #8d9496;
    border-left: 1px solid #8d9496;
    border-right: 1px solid #8d9496;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    top: 35px;
    max-height: 437px;
    overflow: auto;
    background-color: #e7e7e7;
}
.angucomplete-searching {
    font-size: 14px;
}
.angucomplete-title{
    font-size: 15px;
}
.angucomplete-description {
    font-size: 12px;
}
.angucomplete-row {
    padding: 5px 0 10px;
    clear: both;
}
.angucomplete-selected-row {
    color: #b23aee;
}
.angucomplete-image-holder {
    float: left;
    margin-right: 20px;
    margin-left: 5px;
}
.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
}
.angucomplete-image-default {
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

/* Menu */
.menu-wrapper{
    margin: 0;
    position: relative;
    bottom: -30px;
    z-index: 100;
    background: #1d272a;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-bottom: 3px solid #b23aee;
}
.menu-wrapper .navbar-header {
    display: none;
}
.menu-wrapper .navbar-nav{
    width: 100%;
}
.menu-wrapper .navbar-nav > .categories-li {
    float: left;
    text-align: center;
    width: 20%;
}
.menu-wrapper .category-item ,
.menu-wrapper .sales-item {
    position: static;
}
.menu-wrapper .navbar-nav > li > a {
    color: #fff;
    position: relative;
    padding: 17px 0 22px;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-text-shadow: 0 1px 1px #000;
    -moz-text-shadow: 0 1px 1px #000;
    text-shadow: 0 1px 1px #000;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus{
    color: #b23aee;
    background: transparent;
}
.menu-wrapper .navbar-nav > li > a:hover{
    color: #b23aee;
}
.menu-wrapper .navbar-nav .categories-li a .label{
    font-size: 10px;
    color: #fff;
    position: absolute;
    top: 0;
    background: #b23aee;
}
.menu-wrapper .navbar-nav .categories-li a .caret{
    margin-left: 4px;
}
.menu-wrapper .navbar-nav .dropdown-menu{
    background: #1d272a;
    padding: 25px 30px;
    margin-top:3px;
}
.menu-wrapper .category-item .dropdown-menu,
.menu-wrapper .sales-item .dropdown-menu{
    width: 100%;
}
.menu-wrapper .category-item .category-banner div{
    float: left;
    width: 32%;
    cursor: pointer;
    position: relative;
    height: 150px;
}
.menu-wrapper .category-item .category-banner div:hover img{
    opacity: 0.7;
}
.menu-wrapper .category-item .category-banner div + div{
    margin-left: 2%;
}
.menu-wrapper .category-item .category-banner div img{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.menu-wrapper .category-item .category-banner div p{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 47%;
    color: #fff;
    text-transform: uppercase;
}
.menu-wrapper .brands-item .dropdown-menu li + li{
    margin-top: 15px;
}
.menu-wrapper .brands-item .dropdown-menu a{
    width: 100%;
    text-align: center;
    display: inline-block;
}
.menu-wrapper .brands-item .dropdown-menu a img{
    width: 100%;
}
.menu-wrapper .brands-item .dropdown-menu a:hover{
    opacity: 0.7;
}

/* Footer */
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.footer-top-wide{
    padding: 35px 0 25px;
    position: relative;
    background: #1d272a;
    color: #888;
}
.footer-top-wide h2{
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 20px;
    font-size: 14px;
}
.footer-top-wide p,
.footer-top-wide li {
    margin-bottom: 10px;
}
.footer-top-wide .social_links li{
    display: inline-block;
}
.footer-top-wide .social_links li + li{
    margin-left: 10px;
}
.footer-top-wide .social_links li a{
    width: 32px;
    height: 32px;
    display: block;
}
.footer-top-wide .social_links .facebook{
    background: url(../img/icons/facebook.png) 0 0 no-repeat;
    background-size: cover;
}
.footer-top-wide .social_links .twitter{
    background: url(../img/icons/twitter.png) 0 0 no-repeat;
    background-size: cover;
}
.footer-top-wide .social_links .vkontakte{
    background: url(../img/icons/vk.png) 0 0 no-repeat;
    background-size: cover;
}
.footer-top-wide .social_links  li a:hover{
    opacity: 0.7;
}
.footer-bottom-wide{
    background: #000;
    padding: 15px 0;
    color: #888;
}
.footer-bottom-wide .footer-bottom-links{
    text-align: right;
}

/********************************** Pages  **********************************/
.page-container{
    margin: 50px 0 30px;
}
.page-main-container{
    margin: 30px 0 30px;
}

.error-404{
    font-size: 45px;
}

/* Carousel */
.carousel {
    height: 450px;
}
.carousel .item,
.carousel .item.active,
.carousel .carousel-inner {
    height: 100%;
}
.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.slide1{
    background: url(../img/carousel/NEW2016_001.jpg) no-repeat 0 0 transparent;
}
.slide2{
    background: url(../img/carousel/NEW2016_002.jpg) no-repeat 0 0 transparent;
}
.slide3{
    background: url(../img/carousel/NEW2016_003.jpg) no-repeat 0 0 transparent;
}
.carousel-caption{
    width: 100%;
    background: #fff;
    opacity:0.7;
    right: 0;
    left: 0;
}
.carousel-caption h2{
    width: 60%;
    margin: 0 auto;
    color: #1d272a;
}

/* Justified gallery*/
.justified-gallery > .sale-item > .sale-item-ribbon{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 15px;
    color: #fff;
    background: #b23aee;
    padding: 7px 10px;
}
.justified-gallery > .sale-item > .caption{
    top:0;
    margin: 0 auto;
}
.justified-gallery > .sale-item > .btn{
    padding: 10px 15px;
    position: absolute;
    top: 47%;
    left: 50%;
    margin-left: -59px;
    cursor: pointer;
    display:none;
}
.justified-gallery > .sale-item:hover > .btn{
    display:inline-block;
}

/* Modal*/
.modal-body{
    box-sizing: border-box;
}
.modal-body-left{
    width: 40%;
    float: left;
    position: relative;
}
.modal-body-left img{
    width: 100%;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.modal-body-left .sale{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #fff;
    background: #b23aee;
    padding: 7px 15px;
}
.modal-body-right{
    width: 60%;
    float: left;
    padding-left: 15px;
}
.modal-body-right h3{
    margin-bottom: 25px;
    font-weight: bold;
}
.modal-body-right .productPrice{
    margin-bottom: 25px;
}
.modal-body-right .productPrice .currentPrice{
    font-size: 18px;
    margin-bottom: 5px;
}
.modal-body-right .productPrice .oldPrice{
    text-decoration: line-through;
    margin-left: 10px;
}
.modal-body-right .productQuantity input{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 10px;
    background: #e7e7e7;
    height: 34px;
    width: 55px;
    padding: 10px 10px;
    line-height: 34px;
    border: 1px solid #8d9496;
}
.modal-body-right .productQuantity span{
    font-size: 15px;
}
.modal-body-right .addToCartContainer .btn{
    margin: 20px 0;
    width: 100%;
}
.modal-body-right .productDescription{
    padding: 20px 0;
    border-top: 1px solid #8d9496;
}
.modal-footer{
    text-align: left;
    padding: 20px;
}
.modal-footer h3{
    margin-bottom: 10px;
}
.modal-footer .message{
    padding-bottom: 15px;
}
#authorization .input-group,
#registration .input-group {
    width: 100%;
}
#registration .input-group > div {
    padding: 0;
}
#authorization label,
#registration label {
    display: block;
}
#authorization input,
#registration input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 10px 0 20px;
    background: #e7e7e7;
    border: 1px solid #8d9496;
    height: 34px;
    padding: 10px 10px;
    line-height: 34px;
    width: 100%;
}
#authorization input:-webkit-autofill,
#registration input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #e7e7e7 inset;
    box-shadow: 0 0 0 30px #e7e7e7 inset;
}
#authorization .modal-footer,
#registration .modal-footer {
    text-align: center;
}

/*Contact page*/
.contact-page h2,
.contact-page h3{
    text-align: center;
}
#contact-form {
    width: 400px;
    margin: 0 auto;
}
#contact-form .input-group{
    width: 100%;
}
#contact-form label {
    display: block;
    margin-top: 15px;
}
#contact-form input,
#contact-form textarea{
    display: block;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 10px 0 5px;
    background: #e7e7e7;
    border: 1px solid #8d9496;
    padding: 10px 10px;
}
#contact-form input{
    height: 34px;
    line-height: 34px;
}
#contact-form textarea{
    height: 100px;
    resize: none;
}
#contact-form .btn-default{
    margin-left: 20px;
}

/*Shops page*/
#googleMap{
    width: 80%;
    height: 350px;
    margin: 0 auto 30px;
}
.shops-container{
    text-align: center
}
.shops-container h2{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.shops-container h3{
    margin: 20px 0;
}
.shops-container p{
    font-size: 15px;
    margin-bottom: 10px;
}

/*Catalog page*/
.catalog-items{
    height: 200px;
    text-align: center;
    margin-bottom: 50px;
}
.catalog-items img{
    height: 100%;
    width: 100%;
}
.catalog-items .title{
    background: #1d272a;
    margin-top: -2px;
    color: #fff;
    padding: 10px 0;
}
.catalog-items .caption{
    display: none;
    position: absolute;
    bottom: 0;
    top: 0;
    background-color: #000000;
    left: 0;
    right: 0;
    margin: 0 15px;
}
.catalog-items .btn{
    padding: 10px 15px;
    position: absolute;
    top: 47%;
    left: 50%;
    margin-left: -59px;
    cursor: pointer;
    display:none;
}
.catalog-items:hover .caption{
    display: block;
    opacity: 0.7;
    filter: "alpha(opacity=70)";
    /*/!* IE8 or Earlier *!/*/
    -webkit-animation: justified-gallery-show-caption-animation 500ms 0 ease;
    -moz-animation: justified-gallery-show-caption-animation 500ms 0 ease;
    -ms-animation: justified-gallery-show-caption-animation 500ms 0 ease;
}
.catalog-items:hover .btn{
    display:inline-block;
}

/*Shopping —Åart page*/
.shopping-cart-empty{
    font-size: 45px;
    text-align: center;
}
.shopping-cart-table{
    width:100%;
    margin-bottom: 20px;
}
.shopping-cart-table th{
    text-align: center;
}
.shopping-cart-table th.text-left{
    text-align: left;
}
.shopping-cart-table th,
.shopping-cart-table td{
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 10px;
}
.shopping-cart-table .shopping-cart-number{
    vertical-align: middle;
    text-align: center;
}
.shopping-cart-table .shopping-cart-goods img{
    width: 100%;
}
.shopping-cart-table .shopping-cart-goods .shopping-cart-name{
    color: #b23aee;
    font-weight: bold;
    font-size: 18px;
    margin: 15px 0;
}
.shopping-cart-table .shopping-cart-goods .shopping-cart-price{
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    color: #888;
}
.shopping-cart-table .shopping-cart-goods .shopping-cart-description{
    margin-top: 15px;
}
.shopping-cart-table .shopping-cart-quantity{
    text-align: center;
    vertical-align: middle;
}
.shopping-cart-table .shopping-cart-quantity input{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #e7e7e7;
    height: 25px;
    width: 55px;
    padding: 10px 10px;
    line-height: 34px;
    border: 1px solid #8d9496;
}
.shopping-cart-table .shopping-cart-price{
    color: #b23aee;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.shopping-cart-table .shopping-cart-remove{
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
.shopping-cart-total{
    border-top: 3px solid #000;
    padding-top: 20px;
    margin-top: 30px;
}
.shopping-cart-total .input-group{
    width: 100%;
}
.shopping-cart-total .input-group.radio-container label{
    margin-bottom: 15px;
}
.shopping-cart-total label{
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
}
.shopping-cart-total input,
.shopping-cart-total textarea{
    display: block;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0;
    background: #e7e7e7;
    border: 1px solid #8d9496;
}
.shopping-cart-total input{
    height: 34px;
    padding: 10px 10px;
    line-height: 34px;
}
.shopping-cart-total input[type="radio"]{
    width: 16px;
    height: 16px;
    display: inline-block;
    padding: 0;
    margin: 0 5px 0 0;
    vertical-align: middle;
}
.shopping-cart-total .input-group span{
    margin-right: 15px;
}
.shopping-cart-total textarea{
    height: 174px;
    padding: 10px 10px;
    resize: none;
}
.shopping-cart-total-price{
    font-size: 26px;
    text-align: right;
    color: #b23aee;
    font-weight: bold;
    margin-right: 35px;
}
.shopping-cart-total .button-group{
    text-align: right;
    margin-right: 35px;
}
.product-empty {
    font-size: 45px;
    text-align: center;
    padding: 10px 16px;
}
.adding-product-page h2 {
    text-align: center;
}
.adding-product-page .input-group{
    width: 50%;
    margin: 0 auto;
}
.adding-product-page label{
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
}
.adding-product-page input,
.adding-product-page select {
    display: block;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0;
    background: #e7e7e7;
    border: 1px solid #8d9496;
    height: 34px;
    padding: 10px 10px;
    line-height: 34px;
}
.adding-product-page .input-group.checkbox-container label{
    margin-bottom: 15px;
    display: inline-block;
}
.adding-product-page .input-group.checkbox-container input{
    display: inline-block;
    height: auto;
    vertical-align: middle;
    width:auto;
    margin-left: 20px;
}
.adding-product-page .button-group {
    text-align: center;
    margin-top: 20px;
}
.adding-product-page .button-group .message {
    padding-bottom: 20px;
}