<div class="page-container">
    <div class="container">
        <div class="row clearfix" ng-if="products.length">
            <div class="col-sm-12 col-md-4 col-lg-3 catalog-items" ng-repeat="item in products" ng-if="item.tag == 'kitchen'">
                <img alt="" ng-src="{{item.img}}"/>
                <div class="caption"></div>
                <div class="title">{{item.name}}</div>
                <p class="btn btn-primary" data-toggle="modal" data-target="#productInfoModal" ng-click="openProductInfo(item.id)">Подробнее...</p>
            </div>
        </div>
        <div class="row clearfix" ng-if="!products.length">
            <p class="product-empty">Нет товаров выбранной категории.</p>
        </div>
    </div>
</div>